# Set up envronment for running solid server under node.js
#
# Copy this to the meld_tool working directory, and 
# edit to match local requirements; e.g.
#
#   ~/.nvm/     change to location of nvm
#   SOLID_CERTS change to location of solid server certificates
#
# Run script as 'source solid-setenv'.
#
# Note that the certificate details are used by client applications
# (such as 'meld_tool.js'), and also by the solid server itself through
# the server configuration setup process (e.g. 'solid init').
# 

source ~/.nvm/nvm.sh
source ~/.nvm/bash_completion

export SOLID_CERTS=~/solid-certs
export NODE_EXTRA_CA_CERTS=$SOLID_CERTS/localhost.crt
export NODE_TLS_REJECT_UNAUTHORIZED=0

echo ""
echo "Use './node_modules/solid-server/bin/solid-test start' to run Solid server"
echo ""
echo "Use 'DEBUG=solid:* ./node_modules/solid-server/bin/solid-test start' to run"
echo "with diagnosdtic logging to console."
echo ""
